---
layout: default
title: Jacob Su's Tutorials
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="tutorial-table" class="jumbotron">
  <div class="container">
    <h1>Jacob Su's Tutorials</h1>
    <p>My way to Programmers, and the skills to earn a good salary.</p>
    <p><a class="btn btn-primary btn-lg" href="https://about.me/suzp1984" role="button">About Me &raquo;</a></p>
  </div>
</div>

<div class="container tutorial-index">
  <div class="row">
    <div class="col-xs-6 col-lg-4">
      <h3> 
        Android
      </h3>
      <ul>
        {% for post in site.categories.tutorial %}
           {% if post.categories contains "android" %}
               <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-xs-6 col-lg-4">
      <h3> 
        IOS
      </h3>
      <ul>
        {% for post in site.categories.tutorial %}
           {% if post.categories contains "ios" %}
               <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-xs-6 col-lg-4">
      <h3> 
        Python
      </h3>
      <ul>
         {% for post in site.categories.tutorial %}
           {% if post.categories contains "python" %}
               <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>
    
    <div class="col-xs-6 col-lg-4">
      <h3> 
        Emacs
      </h3>
      <ul>
        {% for post in site.categories.tutorial %}
           {% if post.categories contains "emacs" %}
               <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div> <!-- /.row -->
</div> <!-- /.container -->
