---
layout: default
title: Jacob Su's Tutorials
---

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Jacob Su's Tutorials</span>
          <hr class="star-light">
          <br/>
          <a class="btn btn-primary btn-lg" href="https://about.me/suzp1984" role="button">About Me &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container tutorial-index">
  <div class="row">
    <div class="col-xs-6 col-lg-4">
      <h3> 
        Android
      </h3>
      <ul>
        {% for post in site.categories.tutorial %}
           {% if post.categories contains "android" %}
               <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-xs-6 col-lg-4">
      <h3> 
        IOS
      </h3>
      <ul>
        {% for post in site.categories.tutorial %}
           {% if post.categories contains "ios" %}
               <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-xs-6 col-lg-4">
      <h3> 
        Python
      </h3>
      <ul>
         {% for post in site.categories.tutorial %}
           {% if post.categories contains "python" %}
               <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>
    
    <div class="col-xs-6 col-lg-4">
      <h3> 
        Emacs
      </h3>
      <ul>
        {% for post in site.categories.tutorial %}
           {% if post.categories contains "emacs" %}
               <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
           {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div> <!-- /.row -->
</div> <!-- /.container -->
