
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}


#whitefont {
    color: white;
}

#whitefont a:hover a:focus a:active
{
    color: #2C3E50;
}

.navbar {
    background-color: #2c3e50;

}