
#tutorial-table {
    background-color: #18bc9c;
    position: relative;
    padding-top: 80px;
    top: 0px; 
}

.tutorial-top {
    background-color: #18bc9c;
    position: relative;
    padding-top: 110px;
}

.tutorial-index {
}

.tutorial-index h3 {
    background-color: #2E2E2E;
    border-radius: 4px;
    padding: 5px 0 5px 10px;
    color: white;
}

.tutorial-index li {
    list-style-type: none;
    font-size:1.3em;
}
